:root {
  --background: #edead0;
  --light: #edead0;
  --dark: #2b4141;
  --highlight: #d7af70;
  --primary: #1d7874;
  --secondary: #86baa1;

  --DM_background: #102961;
  --DM_light: #edf9f1;
  --DM_dark: #102961;
  --DM_highlight: #0eb1d2;
  --DM_primary: #8ab9b5;
  --DM_secondary: #c8c2ae;
}

body {
  background-repeat: no-repeat;
  background-position: top;
  font-family: "Overlock", sans-serif;
}

body.light-mode {
  background-image: url("/images/morning_background.jpg");
  background-color: var(--light);
}

body.dark-mode {
  background-image: url("/images/night_background.jpg");
  background-color: #000;
  color: #fff;
}

#displayContainer .nav-link:hover {
  border-color: transparent;
}

a {
  transition: all 0.25s;
}

.light-mode a {
  color: var(--primary);
}

.dark-mode a {
  color: var(--DM_primary);
}

.light-mode a:hover {
  color: var(--highlight);
}

.dark-mode a:hover {
  color: var(--DM_highlight);
}

a.active {
  color: var(--secondary);
}

#title {
  margin-top: 60px;
  color: #fff;
  font-size: 70px;
  text-align: center;
  font-family: "RomanSD";
  text-shadow: 2px 2px 10px var(--dark);
}

#title span {
  margin-top: -30px;
  display: block;
}

#title a {
  color: #fff;
}

#settings_tab {
  position: absolute;
  top: 30px;
  right: 30px;
}

#settings_tab i {
  font-size: 40px;
  color: #fff;
  text-shadow: 2px 2px 10px var(--dark);
}

#settings_tab i:hover {
  cursor: pointer;
}

#displayContainer {
  border-radius: 10px;
  margin: 20px;
}

.light-mode #displayContainer {
  background-color: rgba(255, 255, 255, 0.7);
}

.dark-mode #displayContainer {
  background-color: rgba(16, 41, 97, 0.7);
}

#displayContent {
  padding: 10px 0px;
  font-size: 20px;
}

#not_found {
  height: 300px;
  font-size: 30px;
}

#group_code {
  background-color: #fff;
  padding: 0 5px;
  margin: 10px;
  font-size: 28px;
  border-radius: 10px;
  display: inline-block;
}

.light-mode #group_code {
  color: var(--highlight);
}

.dark-mode #group_code {
  color: var(--DM_highlight);
}

.border_bisection {
  border-bottom: #fff solid 1px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.btn_text {
  background-color: transparent;
  border: none;
}

.btn_text:focus,
#displayContent input:focus {
  outline: none;
  border: none;
}

.btn_text i {
  transition: all 0.25s;
}

.btn_text:hover i {
  transform: rotate(-45deg);
}

.light-mode .btn_text {
  color: var(--primary);
}

.dark-mode .btn_text {
  color: var(--DM_primary);
}

.light-mode .btn .clickable:hover {
  cursor: pointer;
}

.light-mode .filled-leaf {
  color: var(--primary);
}

.dark-mode .filled-leaf {
  color: var(--DM_primary);
}

.light-mode .clickable:hover svg {
  cursor: pointer;
  color: var(--secondary);
}

.dark-mode .clickable:hover svg {
  cursor: pointer;
  color: var(--DM_highlight);
}

.error_msg {
  color: var(--danger);
}

#results div:nth-child(odd) {
  flex-direction: row;
}

#results div:nth-child(even) {
  flex-direction: row-reverse;
}

.light-mode #results > div:not(:last-child) {
  border-bottom: var(--dark) solid 1px;
  padding-bottom: 10px;
}

.dark-mode #results > div:not(:last-child) {
  border-bottom: #fff solid 1px;
  padding-bottom: 10px;
}

.light-mode .player-result h4 {
  border-bottom: solid 1px var(--primary);
}

.dark-mode .player-result h4 {
  border-bottom: solid 1px var(--DM_highlight);
}

.rand_content:not(:last-child) {
  margin-bottom: 10px;
}

.rand_picture img {
  margin-bottom: 10px;
  max-width: 100%;
  border-radius: 5px;
}

.player-result:nth-child(odd) {
  text-align: left;
}

.player-result:nth-child(even) {
  text-align: right;
}

.progress {
  height: 0.5rem;
}

.progress-bar {
  background-color: var(--secondary);
}

@media (min-width: 576px) {
  #title {
    font-size: 70px;
  }

  #title span {
    display: inline;
  }
}

@media (min-width: 768px) {
  .border_bisection {
    border-bottom: none;
    border-right: #fff solid 1px;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
}

@font-face {
  src: url("/RomanSD.ttf");
  font-family: "RomanSD";
}
